{{!-- HEADING/QUOTE CARD --}}
<div class="container profile-container">
    <div class="card">
        <div class="card-header card-header-style">
            My Favorite Recipes
            <a href="/profile/create" id="create-recipe"><h6>Create Your Own Recipe</h6></a>
            <div class="form-group">
                <input class="form-control" id="recipe-search" placeholder="Search through your favorites!"></input>
                <button type="button" class="btn login-buttons" id="search-button">Search</button>
            </div>
        </div>
        <div class="card-body quote-body">
            <blockquote class="blockquote mb-0 quote-styling">
                <p>“People who love to eat are always the best people."</p>
                <footer class="blockquote-footer quote-footer">Julia Child</footer>
            </blockquote>
        </div>

        {{!-- Placeholders for Recipe Favorites/Search Results--}}
        <div class="recipe-results" id="favorite-recipes">
            {{!-- CARD A --}}
            {{#each recipes}}
            <div class="card recipe-result-cards" style="width: 18rem;">
                {{!-- MODAL --}}
                {{!-- ================= --}}
                {{!-- VIEW FULL RECIPE MODAL --}}
                <div class="modal fade" id="myModal{{dataValues.id}}" tabindex="-1" role="dialog" aria-labelledby="viewFullLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-body" id="view-full-body" role="document">
                        <div class="modal-content" id="view-full-content">
                            <div class="container-fluid">
                                {{!-- HEADING ROW --}}
                                <div class="row" id="full-view-heading">
                                    <h1>{{dataValues.name}}</h1>
                                </div>
                                <p id="view-full-quote">"The first time you make something, follow the recipe, then figure out how to tailor it to your own tastes." ~ Ruth Reichl</p>
                                <hr>
                                <div class="row" id="full-view-img-row">
                                    <div class="col">
                                        <img src="{{dataValues.image}}" alt="placeholder" id="full-view-image">
                                    </div>
                                    <div class="col" id="update-recipe-button-col">
                                        <div class="row update-recipe-button-rows">
                                            <h6><em>Make it your own!</em></h6>
                                        </div>
                                        <div class="row update-recipe-button-rows">
                                            <button type="button" class="btn btn-lg modify-recipe-button update-recipe" data-id={{dataValues.id}}>Update
                                                Recipe</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- MAIN BODY ROW --}}
                            <div class="row">
                                {{!-- RECIPE COLUMN --}}
                                <div class="col">
                                    <div class="row" id="main-body-row">
                                        {{!-- placeholder ingredients --}}
                                        <div class="col-4" id="full-view-ingredient-col">
                                            <div class="row">
                                                <h6>Ingredients</h6>
                                            </div>
                                            <div class="row full-view-content-font edit-input" contenteditable="false" id="ingredients-update">
                                                <ul>
                                                    {{#each ingredients as |item|}}
                                                        <li>{{item}}</li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                        {{!-- COMMENTS COLUMN --}}
                                        <div class="col-7">
                                            <div class="row">
                                                <div class="col" id="full-view-instructions-col">
                                                    {{!-- instructions --}}
                                                    <div class="row">
                                                        <h6>Instructions</h6>
                                                    </div>
                                                    <div class="row full-view-content-font edit-input" contenteditable="false" id="instructions-update">
                                                        <p>
                                                            {{dataValues.instructions}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- COMMENTS ROW --}}
                            <div class="row" id="full-view-comments-heading">
                                <h6>Comments</h6>
                            </div>
                            <div class="row" id="full-view-comments-row">

                                <div class="col">
                                    <div class="row full-view-content-font edit-input" id="full-view-comments" contenteditable="false">
                                        <p>
                                            {{dataValues.comment}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- END MODAL --}}
                <img class="card-img-top" src="{{dataValues.image}}" alt="{{dataValues.name}} recipe image">
                <div class="card-body">
                    <h5 class="card-title">{{dataValues.name}}</h5>
                </div>
                <div class="card-body card-body-links">
                    <a href="#" class="card-link" data-toggle="modal" data-target="#myModal{{dataValues.id}}">
                        View
                        Full
                    </a>
                    <br>
                    <a href="#" class="card-link delete-fave" data-id={{dataValues.id}}>Delete</a>
                </div>
            </div>
            {{/each}}
        </div>
        <hr>
        <div class="recipe-results" id="recipe-results-footer">
            <p>Next</p>
        </div>
    </div>
    
</div>
</div>
