{{!-- HEADING/QUOTE CARD --}}
<div class="container profile-container">
<div class="card">
    <div class="card-header card-header-style">
        Explore Recipes!
        <div class="form-group">
            <input class="form-control" id="recipe-search" placeholder="What are ya feelin'?"></input>
            <button type="button" class="btn login-buttons" id="search-button">Search</button>
        </div>
    </div>
    <div class="card-body quote-body">
        <blockquote class="blockquote mb-0 quote-styling">
            <p>“Without experimentation, a willingness to ask questions and try new things, we shall surely become static, repetitive, and moribund."</p>
            <footer class="blockquote-footer quote-footer">Anthony Bourdain</footer>
        </blockquote>
    </div>

    {{!-- Placeholders for Recipe Favorites/Search Results--}}
    <div class="recipe-results" id="favorite-recipes">
        {{!-- CARD A --}}
        {{#each recipes}}
        <div class="card recipe-result-cards" style="width: 18rem;">
            <img class="card-img-top" src="{{this.strMealThumb}}" alt="{{this.strMeal}} recipe image">
            <div class="card-body">
                <h5 class="card-title">{{this.strMeal}}</h5>
            </div>
            <div class="card-body card-body-links">
                <a href="#" class="card-link">View Full</a><br>
                <a href="#" class="card-link save-fave" data-name="{{this.strMeal}}" data-image="{{this.strMealThumb}}" data-instructions="{{this.strInstructions}}" data-ingredients="{{this.strIngredient1}}, {{this.strIngredient2}}, {{this.strIngredient3}}, {{this.strIngredient4}}, {{this.strIngredient5}}, {{this.strIngredient6}}, {{this.strIngredient7}}, {{this.strIngredient8}}, {{this.strIngredient9}}, {{this.strIngredient10}}, {{this.strIngredient11}}, {{this.strIngredient12}}, {{this.strIngredient13}}, {{this.strIngredient14}}, {{this.strIngredient15}}, {{this.strIngredient16}}, {{this.strIngredient17}}, {{this.strIngredient18}}, {{this.strIngredient19}}, {{this.strIngredient20}}" data-measurements="{{this.strMeasure1}}, {{this.strMeasure2}}, {{this.strMeasure3}}, {{this.strMeasure4}}, {{this.strMeasure5}}, {{this.strMeasure6}}, {{this.strMeasure7}}, {{this.strMeasure8}}, {{this.strMeasure9}}, {{this.strMeasure10}}, {{this.strMeasure11}}, {{this.strMeasure12}}, {{this.strMeasure13}}, {{this.strMeasure14}}, {{this.strMeasure15}}, {{this.strMeasure16}}, {{this.strMeasure17}}, {{this.strMeasure18}}, {{this.strMeasure19}}, {{this.strMeasure20}}">Save to Favorites</a><br>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>